 <!--   Login Page -->
 {% extends "base.html" %}
 {% block app_content %}
    <form action = "" method='POST'>
         <p>Search Recipe: <input type = "text" name = "Search Recipe" /></p>
         <p><input type = "submit" value = "submit" /></p>
          </form>

        <table>
            <tr>
                <th>Recipe Image</th>
                <th>Recipe Title</th>
                <th>Calories</th>
            </tr>
            {% for recipe in recipe_list %}
                <tr>
                    <td>
                        <img src= "{{recipe['recipe']['image']}}" alt="recipe image" usemap="#workmap">
                        <map name="workmap">
                            <area shape="default"  href={{recipe['recipe']['url']}}>
                        </map>
                    </td>
                    <td>
                         {{recipe['recipe']['label']}}
                    </td>
                    <td>
                        {{recipe['recipe']['calories']}}
                    </td>
                </tr>
            {% endfor %}
        </table>
{% endblock %}