 <!--   Login Page -->
 {% extends "base.html" %}
 {% block app_content %}
    <form action = "" method='POST'>
         <p>Search Recipe: <input type = "text" name = "Search Recipe" placeholder ="chicken" /></p>
         <p><input type = "submit" value = "submit" /></p>
          </form>

        <table class="table table-bordered">
            <tr>
                <th scope="col">Recipe Image</th>
                <th scope="col">Recipe Title</th>
                <th scope="col">Calories</th>
                <th scope="col">Save Recipies</th>
            </tr>
            {% for recipe in recipe_list %}
                <tr>
                    <td>
                        <img src= "{{recipe['recipe']['image']}}" alt="recipe image" usemap="#workmap">
                        <map name="workmap">
                            <area shape="default"  href={{recipe['recipe']['url']}}>
                        </map>
                    </td>
                    <td>
                         {{recipe['recipe']['label']}}
                    </td>
                    <td>
                        {{recipe['recipe']['calories']}}
                    </td>
                    <td>
                        <form method="POST" action="/save_recipe" style="display: inline">
                              <input type="hidden" value="{{recipe['recipe']['label']}}" name="recipe_title">
                              <input type="hidden" value="{{recipe['recipe']['url']}}"s name="recipe_url">
                              <input type="submit" value="Save Recipe">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
{% endblock %}